<md-sidenav-layout fullscreen>

  <md-toolbar color="primary">
    <button id="app-icon" md-button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span>Brainpad</span>

  </md-toolbar>

  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <ul>
      <li><a href="javascript:void(0)" routerLink="/register">Register</a></li>
    </ul>
  </md-sidenav>

  <md-card>
    <md-card-title>Title</md-card-title>
    <md-card-subtitle>Subtitle</md-card-subtitle>

    <md-card-content>
      <div [froalaEditor]="options" [(froalaModel)]="content"></div>
    </md-card-content>

  </md-card>

</md-sidenav-layout>
