@import '~@angular/material/core/theming/all-theme';

@include md-core();
@import '~styleguide';

md-sidenav-layout {

  #app-icon {
    min-width: auto;
    padding:$padding-sm;
  }

  md-card {
    margin: $padding-lg;
  }
}
