@import '~@angular/material/core/theming/all-theme';

@include md-core();
@import '~styleguide';

md-sidenav-layout {

  #app-icon {
    min-width: auto;
    padding:$padding-sm;
  }

  md-card {
    margin: $padding-lg;
    width:85%;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;

    form {
      padding-top:$padding-md;

      md-input-container {
        width:100%;
        display:block;
        padding-bottom:$padding-md;
      }
    }

  }
}
