<md-sidenav-layout fullscreen>

  <md-toolbar color="primary">
    <button id="app-icon" md-button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span>Brainpad</span>

  </md-toolbar>

  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <ul>
      <li><a href="javascript:void(0)" routerLink="/register">Register</a></li>
    </ul>
  </md-sidenav>

  <md-card>
    <md-card-title>Register</md-card-title>
    <md-card-subtitle>Start writing and collaborating with other writers.  Create a free brainpad account.</md-card-subtitle>

    <md-card-content>
      <form>

        <md-input-container>
          <input md-input placeholder="author name" required [model]="fullName">
        </md-input-container>

        <md-input-container>
          <input md-input placeholder="author email" required [model]="email">
          <md-hint align="end">Your email address will not be visible to anyone.</md-hint>
        </md-input-container>

        <md-input-container>
          <input md-input type="password" placeholder="password" required [model]="password">
        </md-input-container>

        <md-input-container width="100%">
          <textarea md-input placeholder="bio" [model]="bio"></textarea>
        </md-input-container>

      </form>

      <md-card-actions align="end" *ngIf="!isSubmitted">
        <button md-raised-button color="primary">Submit</button>
      </md-card-actions>

      <md-card-footer *ngIf="isSubmitted">
        <md-progress-bar mode="query"></md-progress-bar>
      </md-card-footer>
    </md-card-content>

  </md-card>

</md-sidenav-layout>
